{% extends 'main/base.html' %}
{% block content %}
<form method="GET">
    <input type = "text" name="nome" placeholder="Buscar por nome"/>
    <input type = "submit" value="Buscar"/>
</form>
<a href="{% url 'animal.novo' pk_pessoa %}">Novo</a>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Vacina</th>
            <th>Descrição</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for animal in animais %}
        <tr>
            <td>{{ animal.nome }}</td>
            <td>{{ animal.tipo }}</td>
            <td>{{ animal.vacina }}</td>
            <td>{{ animal.descricao }}</td>
            <td>
                <a href="{% url 'animal.editar' pk_pessoa animal.pk %}">Editar</a>
                <a href="{% url 'animal.remover' pk_pessoa animal.pk %}">Remover</a>
            </td> 
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}